body{
  font-family: "Ubuntu", sans-serif;
}

.container{
  width: min(100% 1440);
  margin: auto;
}

/* ----------- header ------------ */

header{
  background-color: #284069;
  display: flex;
  padding: 53px 98px;
  justify-content: space-between;
  align-items: center;
}

.headerul{
  display: flex;
  column-gap: 50px;
}

.active, .inactive{
font-weight: 500;
font-style: Medium;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;

}

.active{
  color: #F56013;
}

.inactive{
  color: #DDEAF8;
}

/* ----------- section ----------- */

.main-section{
  background-color: #DDEAF8;
  flex-direction: column;
  display: flex;
  padding: 94px;
}

h1{
font-weight: 700;
font-style: Bold;
font-size: 32px;
line-height: 40px;
letter-spacing: 0%;
color: #F56013;
}

.section{
  width: 1244px;
  padding-top: 54px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 22px;
  align-content: space-between;
}

article{
  width: 400px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 30px;
}

.img{
  width: 340px;
  height: 220px;
  object-fit: cover;
}

button{
  background-color: #F56013;
  width: 145px;
  height: 44px;
  color: #FFFFFF;
font-weight: 400;
font-style: Regular;
font-size: 24px;
line-height: 32px;
letter-spacing: 0%;
border-radius: 10px;
border: none;
margin: 30px 30px 0px 195px;

}


/* ----------- footer ------------ */

footer{
  background-color: #284069;
  padding: 48px 630px;
}

p{
font-weight: 700;
font-style: Bold;
font-size: 32px;
line-height: 40px;
letter-spacing: 0px;
color: #FFFFFF;
text-decoration: underline;
}

.footerul{
  display: flex;
  column-gap: 32px;
  margin-top: 24px;
  margin-left: 18px;
}

/* რაღაცები არასწორად მაქვს და ცუდად დავწერე მაგრამმმ შენიშვნებს კარგად გავეცნობი და გავიაზრებ ყველაფერსს */